[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.1.3"
colorama = "==0.4.5"
distlib = "==0.3.5"
filelock = "==3.8.0"
flask = "==2.2.2"
flask-cors = "==3.0.10"
flask-marshmallow = "==0.14.0"
flask-pymongo = "==2.3.0"
flask-sqlalchemy = "==2.5.1"
greenlet = "==1.1.2"
gunicorn = "==20.1.0"
itsdangerous = "==2.1.2"
jinja2 = "==3.1.2"
markupsafe = "==2.1.1"
marshmallow = "==3.17.0"
marshmallow-sqlalchemy = "==0.28.1"
mysqlclient = "==2.1.1"
packaging = "==21.3"
platformdirs = "==2.5.2"
psycopg2 = "==2.9.3"
pymongo = "==4.2.0"
pyparsing = "==3.0.9"
python-dotenv = "==0.20.0"
six = "==1.16.0"
sqlalchemy = "==1.4.40"
virtualenv = "==20.16.3"
werkzeug = "==2.2.2"

[dev-packages]

[requires]
python_version = "3.10"
